.divContainer{
    background-color: #d8c54e;
    margin: 0;
    padding: 0;
}
.section{
    background-color: #d8c54e;
    border-radius: 0px; 
    margin: 0px !important;
}
.header{
    margin: 0px;
    padding: 0px;
    height:8rem; 
    margin-bottom: 1.5rem;
    background-color: #d8c54e;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.headerDiv{
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    width:100%; 
    padding: 2rem 0rem;
}
.headerDiv>span{
   display:flex;
   justify-content:center;
   margin-bottom:1.5rem;
   padding-left: 1rem;
   text-align: center;
   padding-right: 1rem;
    font-family: freight-big-pro;
       color: #ffffff;
    font-weight: 900;
    font-size: 25px;
}
.headerDiv>small{
    display: flex;justify-content:center;color:#FFF
}
.headerDiv>a{
    background-color: transparent;-webkit-text-decoration-skip: objects;
}
.section1{
    background-color: #d8c54e;
    padding: 0px;
    margin: 0px;
    border: none;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex: 1;
    min-height: 25vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -webkit-flex: 1;

}
.article1{
    border: none;
    padding-top: 0px;
    width: 350px;
    text-align: center;
}
.article1>div{
    margin-bottom:1.5rem;
    display: inline-block;
}
.article1>p{
    color: #FFF;
    font-size:15px;
    text-align: center;
    margin-right: 50px;
    
}
.pathSvg{
    fill:url(#linear-gradient)
}
.svg{
    display: none;
}
.svg1{
    stroke:none;fill-rule:nonzero;fill:#fff;fill-opacity:1;
}
.section2{
    background-color: #d8c54e;
    height: 80px;
    min-height: 80px;
    border: none;
    display: flex;
    justify-content: center; 
   
}
.section2>a{
    background-color: transparent;
    -webkit-text-decoration-skip: objects;

}

.section2>a>button{
    outline: none;
    box-shadow:none;
    background-color: white;
    border: none;
    color: #0D0D0D;
    padding: 12px 30px;
    font: 14px Lato;

}

@media  all and (max-width: 530px) {
    .section1{
        display: flex;
        flex-direction: column;
        
    }
    .article1{
   
    width: 100%;
   
}
.article1>p{
    text-align: inherit;
    padding-left: 20px;
}
.headerDiv>small{
    justify-content: inherit;
    padding-left: 20px;
}

.article1:nth-child(3)>p{
    border-bottom: 1px solid #fff;
    width: 100%;
    padding-bottom: 30px;
    margin-bottom: 30px;
    
}
}