.section * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.section {
  flex: 1;
  background-color: #f7f7f7;
  position: relative;
  flex-direction: column;
  display: flex;
}

.logo {
  text-align: center;
  margin: 10px 0 18px;
}
.icons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 8%;
  height: 65px;
  margin-top: 15px;
  padding-left: 20px;
}
.main {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #f9f9f9;
  overflow-x: hidden;
  transition: 0.3s;
}

.sidebar a {
  padding: 15px 0px 15px 26px;
  text-decoration: none;
  color: black;
  display: block;
  transition: 0.3s;
  text-transform: uppercase;
  cursor: pointer;
  font-family: "Galyon-Regular";
  font-size: 13px;
  font-weight: bold;
  letter-spacing: 0.1rem;
  width: 100%;
}

.sidebar > a {
  border-bottom: 1px solid #d3d3d3;
}

.sidebar a:hover {
  opacity: 0.7;
}

.closebtn {
  color: #818181;
  font-size: 36px;
}
.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #444;
}

#main {
  transition: margin-left 0.3s;
  padding: 16px;
}
.listContainer {
  height: 90%;
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
  align-items: baseline;
}

.header2 {
  width: 100%;
  display: flex;
  background-color: #fff;
  justify-content: space-between;
  align-items: center;
  padding: 11px;
  z-index: 1;
  border-bottom: 1px solid #d3d3d3;
  position: fixed;
}
.header2 button {
  outline: 0;
  border: none;
  background-color: #fff;
}
.closebtn {
  display: none;
  position: absolute;
  top: 0;
  left: 12px;
}
.container p {
  margin: 10px 0px;
  text-align: center;
}
.container > h3 {
  margin-top: 80px;
  margin-bottom: 10px;
}
.form h3 {
  font-weight: 400;
  font-size: 1em;
}
.form {
  padding: 22px;
  padding-right: 0;
  width: 100%;
  background-color: white;
  -webkit-box-shadow: 3px 3px 24px 3px rgba(0, 0, 0, 0.11);
  box-shadow: 3px 3px 24px 3px rgba(0, 0, 0, 0.11);
  border-radius: 5px;
}
.login {
  padding: 14px;
  font-size: 1em;
  border-radius: 4px;
  background-color: white;
  display: flex;
  align-items: center;
  -webkit-box-shadow: 3px 3px 24px 3px rgba(0, 0, 0, 0.11);
  box-shadow: 3px 3px 24px 3px rgba(0, 0, 0, 0.11);
}
.login > a {
  margin-left: 5px;
  text-decoration: underline;
  padding-right: 100px;
}
@media (max-width: 550px) {
  .login > a {
    padding-right: 30px;
  }
}
@media (max-width: 350px) {
  .login > a {
    padding-right: 10px;
  }
}
.btn {
  opacity: 1;
  background-color: rgb(216, 197, 78);
  border: none;
  color: white;
  width: 92%;
  height: 40px;
  margin: 15px 0;
  border-radius: 4px;
}
.btnDisabled {
  opacity: 0.7;
  background-color: rgb(216, 197, 78);
  border: none;
  color: white;
  width: 92%;
  height: 40px;
  margin: 15px 0;
  border-radius: 4px;
}
.phone {
  display: flex;
  margin-bottom: 15px;
}
.phoneIcon {
  position: relative;
  right: 40px;
  top: 10px;
}
.spnCheck {
  font-size: 0.8em;
  margin-left: 10px;
}
.inputCheck {
  display: flex;
  align-items: center;
}
